body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff8f1;
  color: #3e2723;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Encabezado */
header {
  background-color: #6f4e37;
  color: #fff;
  padding: 30px 10px;
  border-bottom: 4px solid #d7ccc8;
}

.boton-descarga {
  display: inline-block;
  background-color: var(--cafe);
  color: #3e2723;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
  margin: 1rem auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.boton-descarga:hover {
  background-color: var(--cafe-oscuro);
  transform: scale(1.05);
}

.boton-descarga:active {
  transform: scale(0.97);
}


/* Navegación */
nav ul {
  list-style: none;
  background-color: #a1887f;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a:hover {
  color: #ffe0b2;
}

/* Secciones */
section {
  padding: 40px 20px;
}

img {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Tablas */
table {
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  padding: 10px 20px;
  border: 1px solid #8d6e63;
}

caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #4e342e;
  color: #fff;
  padding: 20px;
  font-size: 0.9em;
}